<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605394527263-6r60kig5ir675a2qgmqfhtgb8hfodias.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605394527263-6r60kig5ir675a2qgmqfhtgb8hfodias</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>605394527263-le2a4ov0q43biqi1a6co5be1lkvf3e33.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIbmP2AQvMiWUEnIxPwshk-4FPCVrqpFw</string>
	<key>GCM_SENDER_ID</key>
	<string>605394527263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jpeg.storeAdministration</string>
	<key>PROJECT_ID</key>
	<string>mickey-salon</string>
	<key>STORAGE_BUCKET</key>
	<string>mickey-salon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605394527263:ios:154a1b1de7c0bd48</string>
	<key>DATABASE_URL</key>
	<string>https://mickey-salon.firebaseio.com</string>
</dict>
</plist>